<% extend('../partials/template') %>
    <h2>
        <%= title %>
    </h2>

    <div class="detaljebox">
        <p>
            Fisk navn:
            <%= data.fisk_navn %>
        </p>
        <p> Fisk id:
            <%= data.fisk_id %>
        </p>
        <p> Fisk køn:
            <%= data.fisk_koen %>
        </p>
        <p> Fisk farve:
            <%= data.farve_navn %>
        </p>

    </div>

    <a href="/">Tilbage</a>